@use "../themes/code-vibe";
@use "../themes/foods";
@use "../themes/game";
@use "../themes/projects";

.card {
  height: var(--theme-card-height);
  width: var(--theme-card-width);
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  &__inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    transform-style: preserve-3d;
    border-radius: var(--theme-card-border-radius);
    box-shadow: var(--theme-card-shadow);
  }
  &__face{
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: var(--theme-card-border-radius);
    box-shadow: var(--theme-card-shadow);
    &--back{
      transform: rotateY(180deg);
    }
  }
  &.is-flipped .card__inner{
    transform: rotateY(180deg);
  }
}