@mixin flex-center($disp: flex, $direction: column) {
  display: $disp;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin stack($gap, $align: null, $justify: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  @if $align != null {
    align-items: $align;
  }
  @if $justify != null {
    justify-content: $justify;
  }
}