@mixin flex-center($disp: flex, $direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}