@use "../components/main" as mix;
@use "../themes/code-vibe";
@use "../themes/foods";
@use "../themes/game";
@use "../themes/projects";

body {
  background: var(--theme-bg);
  padding: 40px 112px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-header-bg);
  padding: 8px 20px;
}

.game-feedback {
  display: flex;
  align-items: center;
  gap: 160px;
}

.points-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: var(--theme-header-left-frame-radius);
  padding: var(--theme-header-left-frame-padding);
  background: var(--theme-header-left-frame-bg);
  box-shadow: var(--theme-header-left-frame-shadow);
  &__team-1 {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--theme-header-left-frame-icon-team-1);
    &__icon {
      background: var(--theme-header-left-frame-icon-team-1);
    }
    &__score {
      font-family: var(--theme-header-left-frame-points-font-family);
      color: var(--theme-header-left-frame-points-team-1-color);
      font-size: var(--theme-header-left-frame-points-font-size);
      font-weight: bold;
    }
  }
  &__team-2 {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--theme-header-left-frame-icon-team-2);
    &__icon {
      background: var(--theme-header-left-frame-icon-team-2);
    }
    &__score {
      font-family: var(--theme-header-left-frame-points-font-family);
      color: var(--theme-header-left-frame-points-team-2-color);
      font-size: var(--theme-header-left-frame-points-font-size);
      font-weight: bold;
    }
}
}

.turn-indicator {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--theme-header-current-player-font-family);
  font-size: var(--theme-header-current-player-font-size);
  color: mix.$white;
  gap: 8px;
}

.game-header__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--theme-exit-button-color);
  border: none;
  box-shadow: var(--theme-exit-button-border);
  border-radius: var(--theme-exit-button-radius);
  padding: var(--theme-exit-button-padding);
  transition: all 0.3s ease-out;
  cursor: pointer;
  &__text {
    color: var(--theme-exit-button-text-color);
    font-family: var(--theme-exit-button-text-font-family);
    font-size: var(--theme-exit-button-text-font-size);
    font-weight: bold;
  }
  &:hover {
    background-color: var(--theme-exit-button-hover-color);
    border: none;
    box-shadow:
      var(--theme-exit-button-hover-border),
      var(--theme-exit-button-hover-shadow);
  }
  &:hover .game-header__btn__icon {
    filter: drop-shadow(var(--theme-exit-button-icon-hover-shadow));
  }
  &:hover .game-header__btn__text {
    color: var(--theme-exit-button-text-hover-color);
  }
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.game-field {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 6px;
  &--sm {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
