@use "../components/main" as mix;
@use "../themes/code-vibe";
@use "../themes/foods";
@use "../themes/game";
@use "../themes/projects";
@use "./game-partials/header";
@use "./game-partials/board";
@use "./game-partials/dialogs";
@use "./game-partials/state";

body {
  background: var(--theme-bg);
  padding: 40px 112px;
}

@media (max-width: 1150px) {
  body {
    padding: 32px 8px;
  }
}
