// Theme scaffold: projects
[data-theme="projects"] {
  --theme-bg: #FFFFFF;
  --theme-card-height: 100px;
  --theme-card-width: 120px;
  
  --theme-header-bg:#F0F3F4;
  --theme-header-radius: 10px;
  --theme-header-shadow: 3px 2px 10.1px 0px #00000033;

  --theme-header-left-frame-bg: #FFFFFF;
  --theme-header-left-frame-radius: 10px;
  --theme-header-left-frame-shadow: 0px 0px 0px 0px #00000000;
  --theme-header-left-frame-padding: 8px 20px 8px 20px;

  --theme-header-left-frame-points-font-family: "Figtree", serif;
  --theme-header-left-frame-points-team-1-color: #097FC5;
  --theme-header-left-frame-points-team-2-color: #EA6900;
  --theme-header-left-frame-points-font-size: 30px;

  --theme-header-current-player-font-family: "Figtree", serif;
  --theme-header-current-player-color: #1E7594;
  --theme-header-current-player-font-size: 32px;
  --theme-header-current-player-gap: 18px;

  --theme-pop-up-bg: #F0F6F9;
  --theme-pop-up-radius: 20px;
  --theme-pop-up-font-family: "Figtree", serif;
  --theme-pop-up-font-color: #294F60;
  --theme-pop-up-font-size: 28px;

  --theme-game-over-bg: #1E7594;
  --theme-game-over-padding: 24px;
  --theme-game-over-text-font-family: "Figtree", serif;
  --theme-game-over-text-color: #FFFFFF;
  --theme-game-over-text-size: 40px;

  --theme-winner-bg: #1E7594;
  --theme-winner-headline-color: #FFFFFF;
  --theme-winner-headline-font-family: "Figtree", serif;
  --theme-winner-headline-size: 80px;
  --theme-winner-text-color: #FFFFFF;
  --theme-winner-text-font-family: "Figtree", serif;
  --theme-winner-text-size: 40px;

  --theme-draw-bg: #1E7594;
  --theme-draw-text-color: #FFFFFF;
  --theme-draw-text-font-family: "Figtree", serif;
  --theme-draw-text-size: 40px;
  --theme-card-border-radius: 13px;
  --theme-card-shadow: 0px 0px 0px 0px #00000000;

  --match-status-color:#1E7594;
  --match-status-inner-border: inset 0 0 0 2px #1E7594;
  --match-status-shadow: 0px 0px 0px 0px #00000000;

  --theme-exit-button-color:#BFE5F2;
  --theme-exit-button-border: inset 0 0 0 0 #BFE5F2;
  --theme-exit-button-radius: 10px;
  --theme-exit-button-padding: 12px 20px 12px 20px;
  --theme-exit-button-hover-color: #1E7594;
  --theme-exit-button-hover-border: inset 0 0 0 0px #1E7594;
  --theme-exit-button-hover-shadow: 3px 3px 5px 0px #2F2E2E33;
;

  --theme-exit-button-icon-color: #F3832D;
  --theme-exit-button-icon-size: size(22px, 22px);
  --theme-exit-button-icon-hover-color: #FFFFFF;
  --theme-exit-button-icon-hover-shadow: 0px 0px 0px 0px #00000000;

  --theme-exit-button-text-color: #1E7594;
  --theme-exit-button-text-hover-color: #FFFFFF;
  --theme-exit-button-text-font-family: "Figtree", serif;
  --theme-exit-button-text-font-size: 20px;

  --theme-pop-up-button-color: #BFE5F2;
  --theme-pop-up-button-border: inset 0 0 0 0 #BFE5F2;
  --theme-pop-up-button-radius: 10px;
  --theme-pop-up-button-padding: 12px 20px 12px 20px;
  --theme-pop-up-button-hover-color: #1E7594;
  --theme-pop-up-button-hover-border: inset 0 0 0 0 #1E7594;
  --theme-pop-up-button-hover-shadow: 0px 0px 0px 0px #00000000;

  --theme-pop-up-button-text-color: #1E7594;
  --theme-pop-up-button-text-exit-color: #FFFFFF;
  --theme-pop-up-button-text-exit-hover-color: #FFFFFF;
  --theme-pop-up-button-text-hover-color: #FFFFFF;
  --theme-pop-up-button-text-font-family: "Figtree", serif;
  --theme-pop-up-button-text-font-size: 16px;

  --theme-pop-up-exit-button-color: #FD8A81;
  --theme-pop-up-exit-button-hover-color: #ED5B50;
  --theme-pop-up-exit-button-shadow: 3px 3px 5px 0px #2F2E2E33;
;
}