$gray: #303131;
$white: #ffffff;
$yellow:#F0EA6E;

$font-heading: "Red Rose", sans-serif;
$font-body: "Almarai", sans-serif;

$size-heading-xl: 140px;
$size-heading-lgr: 54px;
$size-body-lg: 48px;
$size-button-text: 40px;

$space-button-y: 20px;
$space-button-x: 24px;
$space-button-gap: 20px;
$space-button-top: 80px;

$duration-fast: 0.3s;
$ease-standard: ease-in-out;







