$gray: #303131;
$light-gray: #F6F6F6;
$light-gray-2: #DBDBD6;
$yellow:#F0EA6E;
$code-vibes-theme-icon: #1AE5BE;
$code-vibes-theme-matched-border: #4DD5BC;
$code-vibes-theme-button: #86E9D6;
$code-vibes-theme-button-pop-up: #66CFBCB2;
$code-vibes-theme-button-pop-up-border: #3ABCA4;

$game-theme-matched-border: #ED1B76;
$game-theme-matched-shadow: 5px 5px 8px 0px #ED1B764D;
$game-theme-button: #ED1B7614;
$game-theme-button-border: 2px solid #E71C4F;
$game-theme-button-hover: #ED1B7624;
$game-theme-button-hover-border: 3px solid #E71C4F;
$game-theme-button-pop-up: #ED1B76;
$game-theme-button-pop-up-border: 1px solid #E71C4F;
$game-theme-button-pop-up-hover: #F2C7DA14;
$game-theme-button-pop-up-hover-border: 2px solid #E71C4F;







